{% extends'base_bristol.html.twig' %}



{% block body %}
<div class="container">
<h3>Billeterie</h3>

{% for message in app.flashes('d') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
<div class="well">
    {{ form_start(bookingForm) }}

       
        {{ form_row(bookingForm.jourDeVisite, {'attr': {'class':'datepicker'}}) }}
        {{ form_errors(bookingForm.jourDeVisite) }}

        {{ form_row(bookingForm.typeDeBillet) }}
        {{ form_errors(bookingForm.typeDeBillet) }}

        {{ form_row(bookingForm.quantite, {'attr':{'placeholder':'Entrer la quantité'}}) }}
        {{ form_errors(bookingForm.quantite) }}

        {{ form_row(bookingForm.eMail, {'attr':{'placeholder':'Votre email svp'}}) }}
        {{ form_errors(bookingForm.eMail) }}
       
        <input class="btn btn-primary" type="submit">
       

    {{ form_end(bookingForm) }}

</div>
</div>

{% endblock %}
