{% extends'base.html.twig' %}
{% form_theme bookingForm 'bootstrap_4_layout.html.twig' %}


{% block body %}

<h3>Billeterie</h3>

<div class="well">
    {{ form_start(bookingForm) }}

        {{ form_row(bookingForm.jourDeVisite, {'attr': {'class':'datepicker'}}) }}
        {{ form_errors(bookingForm.jourDeVisite) }}

        {{ form_row(bookingForm.typeDeBillet) }}
        {{ form_errors(bookingForm.typeDeBillet) }}

        {{ form_row(bookingForm.quantite, {'attr':{'placeholder':'Entrer la quantité'}}) }}
        {{ form_errors(bookingForm.quantite) }}

        {{ form_row(bookingForm.eMail, {'attr':{'placeholder':'Votre email svp'}}) }}
        {{ form_errors(bookingForm.eMail) }}
        <input class="btn btn-primary" type="submit">

    {{ form_end(bookingForm) }}

</div>

{% endblock %}
