{# templates/emails/registration.html.twig #}
<h3>Votre réservation</h3>


{% for donnee in donnees %}

    <div class="jumbotron">
        <img src="{{ absolute_url(asset('assets/images/logo.jpg')) }}">

 
        <h1>Musée du Louvre </h1>
        <h3>Jour de la visite: {{ jour_visite|date('d/m/Y H:i', timezone="Europe/Paris") }}</h3>
        <h3>Code: {{ donnee.code }}</h3>
        <p> Nom: {{ donnee.nom }}</p>
        <p> Prix: {{ donnee.prix }} </p>

        Merci pour votre visite, A Bientôt!

    </div>
    <hr>

{% endfor %}